body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dish-card {
  width: 25%;
}

.mealRow.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
